<div *ngIf="(this.model$ | async) as model"
  class="tool-panel-shell">
  <div class="tool-panel">
    <button class="tool-button"
      matTooltip="Select"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="model.isDefaultClick"
      (click)="onDefaultClick($event)">
      <mat-icon>near_me</mat-icon>
    </button>
    <button class="tool-button"
      matTooltip="Rotate"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="model.isRotateItemsChecked"
      [disabled]="!model.isRotateItemsEnabled"
      (click)="onRotateItemsClick($event)">
      <mat-icon>crop_rotate</mat-icon>
    </button>
    <button class="tool-button"
      matTooltip="Transform"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="model.isTransformPathsChecked"
      [disabled]="!model.isTransformPathsEnabled"
      (click)="onTransformPathsClick($event)">
      <mat-icon>transform</mat-icon>
    </button>
    <button class="tool-button"
      matTooltip="Pencil"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="model.toolMode === this.TOOL_MODE_PENCIL"
      (click)="onPencilClick($event)">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="tool-button"
      matTooltip="Vector"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="model.isEditPathChecked"
      (click)="onEditPathClick($event)">
      <mat-icon>gesture</mat-icon>
    </button>
    <button class="tool-button"
      matTooltip="Oval"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="model.toolMode === this.TOOL_MODE_ELLIPSE"
      (click)="onEllipseClick($event)">
      <mat-icon>radio_button_unchecked</mat-icon>
    </button>
    <button class="tool-button"
      matTooltip="Rectangle"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="model.toolMode === this.TOOL_MODE_RECTANGLE"
      (click)="onRectangleClick($event)">
      <mat-icon>crop_square</mat-icon>
    </button>
    <button *ngIf="this.isActionMode$ | async"
      class="tool-button"
      matTooltip="Toggle onion skinning"
      matTooltipPosition="right"
      matTooltipShowDelay="500"
      [class.is-checked]="this.onionSkinEnabled$ | async"
      (click)="onToggleOnionSkin()">
      <mat-icon>layers</mat-icon>
    </button>
    <div class="tool-divider"></div>
    <!-- TODO: set the tooltip delay back to 500 once we have a better way of telling the user about zooming out -->
    <button class="tool-button"
      matTooltip="Zoom (hold {{ this.isMac() ? 'option' : 'alt' }} to zoom out)"
      matTooltipPosition="right"
      matTooltipShowDelay="0"
      [class.is-checked]="model.toolMode === this.TOOL_MODE_ZOOMPAN"
      (click)="onZoomPanClick($event)">
      <mat-icon>zoom_in</mat-icon>
    </button>
  </div>
</div>
