.tool-panel {
  background-color: var(--ss-surface-container);
  color: var(--ss-on-surface-variant);
  position: relative;

  .tool-button {
    margin: 4px;
    border-radius: var(--ss-radius);
    color: inherit;
    background-color: transparent;
    &:hover {
      cursor: pointer;
      background-color: var(--ss-surface-container-high);
    }
    &.is-checked {
      background-color: var(--ss-primary-container);
      color: var(--ss-on-primary-container);
    }
  }
}

