@use '@angular/material' as mat;

@mixin ss-dialog-theme($theme) {
    $accent: map-get($theme, accent);
    $foreground: map-get($theme, ss-foreground);
    mat-dialog-actions {
        button {
            color: mat.m2-get-color-from-palette($accent);
        }
    }
    mat-dialog-content {
        color: mat.m2-get-color-from-palette($foreground, secondary-text);
    }
}
