@use '@angular/material' as mat;

@mixin ss-layerlisttree-theme($theme) {
  $foreground: map-get($theme, ss-foreground);
  $background: map-get($theme, ss-background);
  $accent: map-get($theme, accent);
  $is-dark: map-get($theme, is-dark);
  .slt-layer {
    color: var(--ss-on-surface-variant);
    &:focus {
      box-shadow: 0 0 0 1px var(--ss-primary) inset;
    }
    &.is-selected {
      background-color: var(--ss-primary-container);
      color: var(--ss-on-primary-container);
      .slt-layer-name,
      .slt-layer-type-icon,
      .slt-layer-expanded-toggle mat-icon {
        color: var(--ss-on-primary-container);
      }
    }
    &.is-hovered {
      box-shadow: 0 0 0 1px var(--ss-primary) inset;
    }
  }
  .slt-properties {
    background-color: transparent;
    box-shadow: none;
  }
  .slt-property {
    color: var(--ss-on-surface);
    &:not(:last-child) {
      box-shadow: none;
    }
    button {
      &[mat-icon-button] {
        mat-icon {
          color: mat.m2-get-color-from-palette($foreground, disabled-text);
        }
      }
      &[mat-icon-button][disabled] {
        mat-icon {
          color: mat.m2-get-color-from-palette($foreground, disabled-text, 0.5);
        }
      }
    }
  }
  .slt-layers-list-drag-indicator {
    background-color: mat.m2-get-color-from-palette($accent);
    &::before {
      background-color: mat.m2-get-color-from-palette($accent);
    }
  }
}
