@use '@angular/material' as mat;

@mixin ss-timelineanimationrow-theme($theme) {
    $foreground: map-get($theme, ss-foreground);
    $background: map-get($theme, ss-background);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    .slt-properties {
        background-color: transparent;
        box-shadow: none;
        .slt-property {
            &:not(:last-child) {
                box-shadow: none;
            }
            .slt-timeline-block {
                background-color: var(--ss-track);
                &.is-selected {
                    background-color: var(--ss-primary);
                }
                &.has-error {
                    background-color: mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-red-palette, A200));
                }
                &.is-selected-with-error {
                    background-color: mat.m2-get-color-from-palette(mat.m2-define-palette(mat.$m2-red-palette, A700));
                }
                .slt-timeline-block-edge {
                    border: 2px solid var(--ss-track-hi);
                    background: var(--ss-surface-container-lowest);
                    box-sizing: border-box;
                }
            }
        }
    }
}
