<ng-container *ngIf="(this.layerTimelineModel$ | async) as model">
  <div class="studio-layer-timeline"
    *ngIf="(this.themeService.asObservable() | async) as theme"
    [class.dark-to-light-base100]="!theme.isInitialPageLoad && theme.themeType === 'light'"
    [class.light-to-dark-base100]="!theme.isInitialPageLoad && theme.themeType === 'dark'">
    <app-splitter [edge]="'top'"
      (split)="onTopSplitterChanged()"
      [min]="200"
      [persistId]="'layer-timeline'">
    </app-splitter>

    <div class="slt-layers mat-elevation-z2"
      fxLayout="column"
      [class.dark-to-light-base100]="!theme.isInitialPageLoad && theme.themeType === 'light'"
      [class.light-to-dark-base100]="!theme.isInitialPageLoad && theme.themeType === 'dark'">
      <app-splitter [edge]="'right'"
        [min]="200"
        [persistId]="'layer-list'">
      </app-splitter>

      <div class="slt-header mat-elevation-z2"
        fxLayout="row"
        fxLayoutAlign="start center">

        <!-- File menu. -->
        <mat-menu #fileMenu="matMenu"
          class="ss-glass-menu">
          <button mat-menu-item
            (click)="this.onNewWorkspaceClick()">
            New
          </button>
          <button mat-menu-item
            (click)="this.onLaunchFilePickerClick($event, 'openFileButton')">
            Open
            <input id="openFileButton"
              type="file"
              accept=".shapeshifter"
              (click)="$event.stopPropagation()"
              (change)="this.onImportedFilesPicked($event, ($event.target || $event.srcElement).files)">
          </button>
          <button mat-menu-item
            (click)="this.onSaveToFileClick()">
            Save
          </button>
          <button mat-menu-item
            (click)="this.onLoadDemoClick()">
            Demo
          </button>
        </mat-menu>
        <button class="slt-layers-menu-group-button"
          (click)="$event.stopPropagation()"
          [matMenuTriggerFor]="fileMenu">
          File
        </button>

        <!-- Import menu. -->
        <mat-menu #importMenu="matMenu"
          class="ss-glass-menu">
          <button mat-menu-item
            (click)="this.onLaunchFilePickerClick($event, 'addPathsFromSvgButton')">
            SVG
            <input multiple
              id="addPathsFromSvgButton"
              type="file"
              accept=".svg"
              (click)="$event.stopPropagation()"
              (change)="this.onImportedFilesPicked($event, ($event.target || $event.srcElement).files)">
          </button>
          <button mat-menu-item
            (click)="this.onLaunchFilePickerClick($event, 'addPathsFromXmlButton')">
            Vector Drawable
            <input multiple
              id="addPathsFromXmlButton"
              type="file"
              accept=".xml"
              (click)="$event.stopPropagation()"
              (change)="this.onImportedFilesPicked($event, ($event.target || $event.srcElement).files)">
          </button>
        </mat-menu>
        <button class="slt-layers-menu-group-button"
          (click)="$event.stopPropagation()"
          [ngClass]="{'is-disabled': model.isActionMode}"
          [disabled]="model.isActionMode"
          [matMenuTriggerFor]="importMenu">
          Import
        </button>

        <!-- Export menu. -->
        <mat-menu #exportMenu="matMenu"
          class="ss-glass-menu">
          <button mat-menu-item
            (click)="this.onExportSvgClick()">
            SVG
          </button>
          <button mat-menu-item
            (click)="this.onExportVectorDrawableClick()">
            Vector Drawable
          </button>
          <button mat-menu-item
            (click)="this.onExportAnimatedVectorDrawableClick()">
            Animated Vector Drawable
          </button>
          <button mat-menu-item
            (click)="this.onExportSvgSpritesheetClick()">
            SVG spritesheet
          </button>
          <!--<button mat-menu-item
          [disabled]="true"
          (click)="this.onExportCssKeyframesClick()">
          CSS keyframes
        </button>-->
        </mat-menu>
        <button class="slt-layers-menu-group-button"
          (click)="$event.stopPropagation()"
          [ngClass]="{'is-disabled': model.isActionMode}"
          [disabled]="model.isActionMode"
          [matMenuTriggerFor]="exportMenu">
          Export
        </button>

        <div fxFlex></div>
        <div class="slt-duration-chip"
          *ngIf="!model.isActionMode">
          <mat-icon>timer</mat-icon>
          <input type="number"
            [min]="50"
            [max]="5000"
            [value]="model.animation.duration"
            (click)="$event.stopPropagation()"
            (input)="onDurationInput($event, model.animation)">
          <span>ms</span>
        </div>

        <!-- Add layer menu. -->
        <mat-menu #addLayerMenu="matMenu"
          class="ss-glass-menu ss-add-layer-menu">
          <div class="slt-add-layer-panel">
            <div class="slt-add-layer-head">
              <span class="slt-add-layer-head-icon">
                <mat-icon>add_box</mat-icon>
              </span>
              <span class="slt-add-layer-head-copy">
                <span class="slt-add-layer-title">Add layer</span>
                <span class="slt-add-layer-subtitle">Create structure in the vector tree</span>
              </span>
            </div>
            <button type="button"
              class="slt-add-layer-item"
              matMenuClose
              (click)="this.onAddPathLayerClick()">
              <span class="slt-add-layer-icon slt-add-layer-icon-path">
                <mat-icon>polyline</mat-icon>
              </span>
              <span class="slt-add-layer-copy">
                <span class="slt-add-layer-label">Path</span>
                <span class="slt-add-layer-description">Drawable shape with fill and stroke</span>
              </span>
              <mat-icon class="slt-add-layer-caret">add_circle</mat-icon>
            </button>
            <button type="button"
              class="slt-add-layer-item"
              matMenuClose
              (click)="this.onAddClipPathLayerClick()">
              <span class="slt-add-layer-icon slt-add-layer-icon-mask">
                <mat-icon>select_all</mat-icon>
              </span>
              <span class="slt-add-layer-copy">
                <span class="slt-add-layer-label">Clip path</span>
                <span class="slt-add-layer-description">Mask geometry for child paths</span>
              </span>
              <mat-icon class="slt-add-layer-caret">add_circle</mat-icon>
            </button>
            <button type="button"
              class="slt-add-layer-item"
              matMenuClose
              (click)="this.onAddGroupLayerClick()">
              <span class="slt-add-layer-icon slt-add-layer-icon-group">
                <mat-icon>folder</mat-icon>
              </span>
              <span class="slt-add-layer-copy">
                <span class="slt-add-layer-label">Group</span>
                <span class="slt-add-layer-description">Transform and organize nested layers</span>
              </span>
              <mat-icon class="slt-add-layer-caret">add_circle</mat-icon>
            </button>
          </div>
        </mat-menu>
        <button mat-icon-button
          class="slt-add-layer-trigger"
          matTooltip="Add layer"
          matTooltipPosition="below"
          matTooltipShowDelay="500"
          [disabled]="model.isActionMode"
          [matMenuTriggerFor]="addLayerMenu">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div appScrollGroup="timeline"
        class="slt-layers-list-scroller"
        fxFlex>
        <!-- Layer list. -->
        <div class="slt-layers-list">
          <!-- Note the *ngFor loop is intentional here even though there is only
             ever one layer in the list. We use it because it allows us to recreate
             the component from scratch when the layer id changes (i.e. when
             the workspace is reset). -->
          <app-layerlisttree fxLayout="column"
            class="slt-layer-container"
            *ngFor="let vectorLayer of [model.vectorLayer]; trackBy: trackLayerFn"
            [layer]="vectorLayer"
            (layerClick)="this.onLayerClick($event.event, $event.layer)"
            (layerToggleExpanded)="this.onLayerToggleExpanded($event.event, $event.layer)"
            (layerToggleVisibility)="this.onLayerToggleVisibility($event.event, $event.layer)"
            (layerMouseDown)="this.onLayerMouseDown($event.event, $event.layer)"
            (addTimelineBlockClick)="this.onAddTimelineBlockClick($event.event, $event.layer, $event.propertyName)"
            (removeTimelinePropertyClick)="this.onRemoveTimelinePropertyClick($event.event, $event.layer, $event.propertyName)"
            (convertToClipPathClick)="this.onConvertToClipPathClick($event.event, $event.layer)"
            (convertToPathClick)="this.onConvertToPathClick($event.event, $event.layer)"
            (flattenGroupClick)="this.onFlattenGroupClick($event.event, $event.layer)">
          </app-layerlisttree>
        </div>
        <div *ngIf="(this.dragIndicatorObservable | async) as dragData"
          class="slt-layers-list-drag-indicator"
          [ngStyle]="{
            'display': dragData.isVisible ? 'block' : 'none',
            'left': dragData.left + 'px',
            'top': dragData.top + 'px'
          }">
        </div>
        <div class="slt-layers-empty"
          *ngIf="model.vectorLayer.children.length === 0 && model.animation.blocks.length === 0">
          To get started, drag + drop an SVG file here
        </div>
      </div>
    </div>

    <!-- Animation timeline. -->
    <div class="slt-timeline-wrap"
      *ngIf="{ horizZoom: (this.horizZoomObservable | async) } as animationData">
    <div #timeline
      class="slt-timeline"
      (scroll)="this.onTimelineHorizontalScroll($event)"
      (mousewheel)="this.onWheelEvent($event)">
      <div #timelineAnimation
        class="slt-timeline-animation is-active"
        [ngStyle]="{'width': (model.animation.duration * animationData.horizZoom + 40) + 'px'}"
        fxLayout="column">
        <!-- Composition name + duration moved to the top toolbar. This header
             now holds only the time ruler. -->
        <div class="slt-header mat-elevation-z2"
          (click)="this.onAnimationHeaderTextClick($event)">
          <canvas appLayerTimelineGrid
            class="slt-timeline-header-grid"
            [class.dark-to-light-base100]="!theme.isInitialPageLoad && theme.themeType === 'light'"
            [class.light-to-dark-base100]="!theme.isInitialPageLoad && theme.themeType === 'dark'"
            [animation]="model.animation"
            [horizZoom]="animationData.horizZoom"
            [isHeader]="true"
            (scrub)="this.onTimelineHeaderScrub($event)">
          </canvas>
        </div>
        <canvas appLayerTimelineGrid
          class="slt-timeline-grid"
          [isHeader]="false"
          [animation]="model.animation"
          [horizZoom]="animationData.horizZoom">
        </canvas>

        <div appScrollGroup="timeline"
          class="slt-timeline-animation-scroller">
          <div class="slt-timeline-animation-rows">
            <!-- Note the *ngFor loop is intentional here even though there is only
               ever one layer in the list. We use it because it allows us to recreate
               the component from scratch when the layer id changes (i.e. when
               the workspace is reset). -->
            <app-timelineanimationrow *ngFor="let vl of [model.vectorLayer]; trackBy: trackLayerFn"
              [layer]="vl"
              (timelineBlockMouseDown)="this.onTimelineBlockMouseDown($event.event, $event.block)"
              (timelineBlockClick)="this.onTimelineBlockClick($event.event, $event.block)"
              (timelineBlockDoubleClick)="this.onTimelineBlockDoubleClick($event.event, $event.block)">
            </app-timelineanimationrow>
          </div>
        </div>
      </div>
    </div>
    <div #timelineScrollbar
      class="slt-timeline-scrollbar"
      (scroll)="this.onTimelineScrollbarScroll($event)">
      <div class="slt-timeline-scrollbar-content"
        [ngStyle]="{'width': (model.animation.duration * animationData.horizZoom + 40) + 'px'}">
      </div>
    </div>
    </div>

    <!-- Floating "fit to width" button — shown when the timeline content
         doesn't fill the visible width. -->
    <button class="timeline-fill-fab"
      *ngIf="this.showFillButton$ | async"
      (click)="this.onZoomToFitClick($event)"
      matTooltip="Fit to width ({{ this.shortcutService.getZoomToFitText() }})"
      matTooltipPosition="above"
      matTooltipShowDelay="500">
      <mat-icon>fit_screen</mat-icon>
      <span>Fit</span>
    </button>
  </div>
</ng-container>
