$timelineAnimationPadding: 20px;
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.slt-layer-row {
    box-sizing: border-box;
    line-height: 38px;
    height: 38px;
}

.slt-children-row {
    padding: 0;
    margin: 0 0 0 0px;
}

.slt-properties {
    margin: 0;
    border-radius: 2px;
    .slt-property {
        position: relative;
        line-height: 38px;
        height: 38px;
        .slt-timeline-block {
            position: absolute;
            height: 6px;
            border-radius: 99px;
            top: 50%;
            transform: translate(0, -50%);
            outline: 0;
            cursor: pointer;
            min-width: 14px;
            .slt-timeline-block-edge {
                position: absolute;
                top: 50%;
                width: 13px;
                height: 13px;
                border-radius: 2px;
                transform: translateY(-50%) rotate(45deg);
                cursor: ew-resize;
                z-index: 2;
            }
            .slt-timeline-block-edge-start {
                left: -6px;
            }
            .slt-timeline-block-edge-end {
                right: -6px;
            }
            &.is-disabled {
                cursor: default;
            }
        }
    }
}

.slt-properties-empty {
    display: none;
}
