@use '@angular/material' as mat;
@use '../components/canvas/canvas-theme' as canvasTheme;
@use '../components/dialogs/dialog-theme' as dialogTheme;
@use '../components/layertimeline/layerlisttree-theme' as layerlisttreeTheme;
@use '../components/layertimeline/layertimeline-theme' as layertimelineTheme;
@use '../components/layertimeline/timelineanimationrow-theme' as timelineanimationrowTheme;
@use '../components/playback/playback-theme' as playbackTheme;
@use '../components/propertyinput/propertyinput-theme' as propertyinputTheme;
@use '../components/root/root-theme' as rootTheme;
@use '../components/toolbar/toolbar-theme' as toolbarTheme;

@include mat.core();

$ss-light-theme-foreground: (
  divider:                rgba(black, 0.12),
  divider-inverse:        rgba(white, 0.12),
  disabled-text:          rgba(black, 0.38),
  disabled-text-inverse:  rgba(white, 0.5),
  secondary-text:         rgba(black, 0.54),
  secondary-text-inverse: rgba(white, 0.7),
  primary-text:           rgba(black, 0.87),
  primary-text-inverse:   rgba(white, 1),
);

$ss-dark-theme-foreground: (
  divider:                rgba(white, 0.12),
  divider-inverse:        rgba(black, 0.12),
  disabled-text:          rgba(white, 0.5),
  disabled-text-inverse:  rgba(black, 0.38),
  secondary-text:         rgba(white, 0.7),
  secondary-text-inverse: rgba(black, 0.54),
  primary-text:           rgba(white, 1),
  primary-text-inverse:   rgba(black, 0.87),
);

$ss-light-theme-background: (
  base: white,
  base50: map-get(mat.$m2-grey-palette, 50),
  base100: map-get(mat.$m2-grey-palette, 100),
  base200: map-get(mat.$m2-grey-palette, 200),
  base200-inverse: map-get(mat.$m2-grey-palette, 900),
  base300: map-get(mat.$m2-grey-palette, 300),
);

$ss-dark-theme-background: (
  base: black,
  base50: #303030,
  base100: map_get(mat.$m2-grey-palette, 800),
  base200: map_get(mat.$m2-grey-palette, 900),
  base200-inverse: map-get(mat.$m2-grey-palette, 200),
  base300: #101010,
);

$light-accent: mat.m2-define-palette(mat.$m2-blue-palette, A400, A200, A700);
$dark-accent: mat.m2-define-palette(mat.$m2-deep-orange-palette, A200, A100, A400);

@function ss-light-theme($primary, $accent, $warn: mat.m2-define-palette(mat.$m2-red-palette)) {
    $base-theme: mat.m2-define-light-theme((
      color: (primary: $primary, accent: $accent, warn: $warn),
    ));
    $result: map_merge($base-theme, (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      accent-inverse: $dark-accent,
      ss-foreground: $ss-light-theme-foreground,
      ss-background: $ss-light-theme-background,
      is-dark: false,
    ));
    @return $result;
}

@function ss-dark-theme($primary, $accent, $warn: mat.m2-define-palette(mat.$m2-red-palette)) {
    $base-theme: mat.m2-define-dark-theme((
      color: (primary: $primary, accent: $accent, warn: $warn),
    ));
    $result: map_merge($base-theme, (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      accent-inverse: $light-accent,
      ss-foreground: $ss-dark-theme-foreground,
      ss-background: $ss-dark-theme-background,
      is-dark: true,
    ));
    @return $result;
}

@mixin build-custom-theme($theme) {
    @include mat.all-component-themes($theme);
    @include canvasTheme.ss-canvas-theme($theme);
    @include dialogTheme.ss-dialog-theme($theme);
    @include layerlisttreeTheme.ss-layerlisttree-theme($theme);
    @include layertimelineTheme.ss-layertimeline-theme($theme);
    @include timelineanimationrowTheme.ss-timelineanimationrow-theme($theme);
    @include playbackTheme.ss-playback-theme($theme);
    @include propertyinputTheme.ss-propertyinput-theme($theme);
    @include rootTheme.ss-root-theme($theme);
    @include toolbarTheme.ss-toolbar-theme($theme);
}

$light-primary: mat.m2-define-palette(mat.$m2-blue-grey-palette, 500);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette);
$dark-primary: mat.m2-define-palette(mat.$m2-indigo-palette, 700);
$dark-warn: mat.m2-define-palette(mat.$m2-red-palette);
$light-theme: ss-light-theme($light-primary, $light-accent, $light-warn);
$dark-theme: ss-dark-theme($dark-primary, $dark-accent, $dark-warn);
@include build-custom-theme($light-theme);
.ss-dark-theme {
    @include build-custom-theme($dark-theme);
}

@mixin theme-animation-properties {
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@mixin build-theme-animations($themeKey, $paletteKey, $animName) {
    $light: map-get($light-theme, $themeKey);
    $dark: map-get($dark-theme, $themeKey);
    .dark-to-light-#{$animName} {
        animation-name: darkToLight#{$animName};
        @include theme-animation-properties;
    }
    .light-to-dark-#{$animName} {
        animation-name: lightToDark#{$animName};
        @include theme-animation-properties;
    }
    @keyframes lightToDark#{$animName} {
        0% { background-color: mat.m2-get-color-from-palette($light, $paletteKey); }
        100% { background-color: mat.m2-get-color-from-palette($dark, $paletteKey); }
    }
    @keyframes darkToLight#{$animName} {
        0% { background-color: mat.m2-get-color-from-palette($dark, $paletteKey); }
        100% { background-color: mat.m2-get-color-from-palette($light, $paletteKey); }
    }
}

@include build-theme-animations(ss-background, base, base);
@include build-theme-animations(ss-background, base100, base100);
@include build-theme-animations(ss-background, base200, base200);
@include build-theme-animations(ss-background, base300, base300);
@include build-theme-animations(primary, default, primary);
@include build-theme-animations(accent, default, accent);

.action-mode-on-to-off-dark {
    animation-name: actionModeOnToOffDark;
    @include theme-animation-properties;
}
.action-mode-off-to-on-dark {
    animation-name: actionModeOffToOnDark;
    @include theme-animation-properties;
}
.action-mode-on-to-off-light {
    animation-name: actionModeOnToOffLight;
    @include theme-animation-properties;
}
.action-mode-off-to-on-light {
    animation-name: actionModeOffToOnLight;
    @include theme-animation-properties;
}
@keyframes actionModeOnToOffDark {
    0% { background-color: mat.m2-get-color-from-palette(map-get($dark-theme, accent)); }
    100% { background-color: mat.m2-get-color-from-palette(map-get($dark-theme, primary)); }
}
@keyframes actionModeOffToOnDark {
    0% { background-color: mat.m2-get-color-from-palette(map-get($dark-theme, primary)); }
    100% { background-color: mat.m2-get-color-from-palette(map-get($dark-theme, accent)); }
}
@keyframes actionModeOnToOffLight {
    0% { background-color: mat.m2-get-color-from-palette(map-get($light-theme, accent)); }
    100% { background-color: mat.m2-get-color-from-palette(map-get($light-theme, primary)); }
}
@keyframes actionModeOffToOnLight {
    0% { background-color: mat.m2-get-color-from-palette(map-get($light-theme, primary)); }
    100% { background-color: mat.m2-get-color-from-palette(map-get($light-theme, accent)); }
}
