@use '@angular/material' as mat;

@mixin ss-propertyinput-theme($theme) {
    $foreground: map-get($theme, ss-foreground);
    $background: map-get($theme, ss-background);
    $accent: map-get($theme, accent);
    $is-dark: map-get($theme, is-dark);
    .property-input {
        background-color: mat.get-color-from-palette($background, base200);
    }
    .spi-header {
        background-color: mat.get-color-from-palette($background, base100);
        .spi-selection-icon {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }
        button.spi-secondary-icon {
            color: mat.get-color-from-palette($foreground, secondary-text);
            &[mat-icon-button][disabled] {
                mat-icon {
                    color: mat.get-color-from-palette($foreground, disabled-text);
                }
            }
        }
        .spi-selection-description {
            color: mat.get-color-from-palette($foreground, primary-text);
        }
        .spi-selection-sub-description {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }
    }
    .spi-body {
        .spi-property-name {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }
        .spi-property-value-static,
        .spi-property-value-editor input,
        .spi-property-value-menu-target {
            box-shadow: 0 0 0 1px mat.get-color-from-palette($foreground, divider) inset;
            &.has-input-error {
                border-left: 4px solid mat.get-color-from-palette(mat.define-palette(mat.$red-palette, A700));
            }
        }
        .spi-property-value-editor input,
        .spi-property-value-menu-target {
            background-color: mat.get-color-from-palette($background, base);
            color: mat.get-color-from-palette($foreground, primary-text);
            &:focus {
                box-shadow: 0 0 0 1px mat.get-color-from-palette($accent) inset;
            }
        }
        .spi-property-value-menu-target {
            &::after {
                color: mat.get-color-from-palette($foreground, disabled-text);
            }
        }
        .spi-property-color-preview {
            box-shadow: 0 0 0 1px mat.get-color-from-palette($foreground, divider) inset;
        }
    }
    .spi-empty {
        color: mat.get-color-from-palette($foreground, disabled-text);
    }
    .alert-danger {
        color: mat.get-color-from-palette(mat.define-palette(mat.$red-palette, A700));
        background-color: mat.get-color-from-palette(mat.define-palette(mat.$red-palette, 50));
        border-color: mat.get-color-from-palette(mat.define-palette(mat.$red-palette, 100));
    }
}
