<div class="property-input"
  *ngIf="(this.themeState$ | async) as theme"
  [class.dark-to-light-base200]="theme.prevThemeType === 'dark' && theme.currThemeType === 'light'"
  [class.light-to-dark-base200]="theme.prevThemeType === 'light' && theme.currThemeType === 'dark'"
  fxLayout="column"
  fxFlex>
  <app-splitter [persistId]="'property-inspector'"
    [edge]="'left'"
    [min]="200">
  </app-splitter>
  <ng-container *ngIf="(this.propertyInputModel$ | async) as model">
    <!-- No models selected. -->
    <div *ngIf="model.numSelections === 0"
      class="spi-empty"
      fxFlex>
      Select something to edit its properties
    </div>
    <!-- At least one model selected. -->
    <div *ngIf="model.numSelections > 0"
      fxLayout="column"
      fxFlex>
      <div class="spi-header mat-elevation-z2"
        [class.dark-to-light-base]="theme.prevThemeType === 'dark' && theme.currThemeType === 'light'"
        [class.light-to-dark-base]="theme.prevThemeType === 'light' && theme.currThemeType === 'dark'"
        fxLayoutAlign="center center"
        fxFlex="none">
        <mat-icon class="spi-selection-icon"
          svgIcon="{{model.icon}}">
        </mat-icon>
        <div class="spi-selection-description-container"
          fxLayout="column"
          fxFlex>
          <span class="spi-selection-description">{{ model.description }}</span>
          <span class="spi-selection-sub-description">{{ model.subDescription }}</span>
        </div>
        <mat-menu #addTimelineBlockMenu="matMenu"
          class="ss-glass-menu ss-add-animation-menu">
          <div class="slt-add-animation-panel">
            <div class="slt-add-animation-head">
              <div class="slt-add-animation-heading-copy">
                <div class="slt-add-animation-title">
                  <mat-icon>bolt</mat-icon>
                  <span>Add animation</span>
                </div>
                <div class="slt-add-animation-subtitle">on {{ model.description }} · {{ this.getLayerTypeLabel(model) }}</div>
              </div>
              <button mat-icon-button
                type="button"
                class="slt-add-animation-close">
                <mat-icon>close</mat-icon>
              </button>
            </div>
            <div class="slt-add-animation-body">
              <ng-container *ngFor="let cat of categoryOrder">
                <div class="slt-add-animation-category"
                  *ngIf="this.getCategoryPropertyNames(model, cat).length">
                  {{ this.getCategoryLabel(cat) }}
                </div>
                <button class="slt-add-animation-item"
                  *ngFor="let propertyName of this.getCategoryPropertyNames(model, cat); trackBy: trackPropertyNameFn"
                  (click)="this.onAnimateLayerClick(model.model, propertyName)">
                  <span class="slt-add-animation-icon">
                    <mat-icon>{{ this.getPropertyIcon(propertyName) }}</mat-icon>
                  </span>
                  <span class="slt-add-animation-copy">
                    <span class="slt-add-animation-label">{{ this.getPropertyLabel(propertyName) }}</span>
                    <span class="slt-add-animation-key">{{ propertyName }}</span>
                  </span>
                  <mat-icon class="slt-add-animation-state">add_circle</mat-icon>
                </button>
              </ng-container>
              <div class="slt-add-animation-empty"
                *ngIf="!model.availablePropertyNames.length">
                No animatable properties
              </div>
            </div>
          </div>
        </mat-menu>
        <button mat-icon-button
          class="spi-secondary-icon"
          *ngIf="this.shouldShowAnimateLayerButton(model)"
          matTooltip="Animate this layer"
          matTooltipPosition="left"
          matTooltipShowDelay="500"
          [matMenuTriggerFor]="addTimelineBlockMenu">
          <mat-icon svgIcon="animationblock"></mat-icon>
        </button>
        <button mat-icon-button
          class="spi-secondary-icon"
          [disabled]="this.shouldDisableStartActionModeButton(model)"
          *ngIf="this.shouldShowStartActionModeButton(model)"
          (click)="this.onStartActionModeClick()"
          matTooltip="Edit path morphing animation"
          matTooltipPosition="left"
          matTooltipShowDelay="500">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="spi-body"
        fxLayout="column"
        fxFlex>
        <div class="spi-empty"
          *ngIf="!model.inspectedProperties.length"
          fxFlex>
          No shared properties to view or edit
        </div>
        <div class="spi-property-group"
          [class.is-transform-group]="group.label === 'Transform'"
          [class.is-ungrouped]="!group.label"
          *ngFor="let group of model.propertyGroups; trackBy: trackPropertyGroupFn">
        <div class="spi-property-group-header"
          *ngIf="group.label">
          <span class="spi-property-group-title">{{ group.label }}</span>
          <!-- While the group's color is 'no color', its rows are collapsed and
               the color button lives up here next to the title. Picking a color
               moves it back down into the expanded Color row. -->
          <app-color-picker *ngIf="this.getHeaderColorProperty(group) as headerIp"
            class="spi-header-color-picker"
            [value]="headerIp.value"
            [disabled]="!headerIp.isEditable()"
            (valueChange)="this.onColorPicked(headerIp, $event)">
          </app-color-picker>
        </div>
        <div class="spi-property"
          [class.is-rotation-property]="ip.propertyName === 'rotation'"
          [class.is-collapsible]="this.isColorGatedGroup(group)"
          [class.is-collapsed]="this.isPropertyCollapsed(group, ip)"
          *ngFor="let ip of group.inspectedProperties; trackBy: trackInspectedPropertyFn">
          <div class="spi-property-name">{{ this.displayName(ip) }}</div>
          <div class="spi-property-value"
            fxLayout="row">
            <span *ngIf="!ip.isEditable()"
              class="spi-property-value-static"
              fxFlex>
              <!-- Only show text if the property isn't inspectable. -->
              {{ ip.getDisplayValue() }}
            </span>
            <div *ngIf="ip.isEditable()"
              class="spi-property-value-editor"
              fxLayout="column"
              fxFlex>
              <!-- Fraction (0..1): inline slider + value field (label stays in the
                   name column like other rows). Slider steps by 0.1; the value
                   field still accepts finer manual values (e.g. 0.14). -->
              <div *ngIf="ip.typeName === 'FractionProperty'"
                class="spi-slider"
                [class.is-disabled]="!ip.isEditable()">
                <div class="spi-slider-track">
                  <div class="spi-slider-fill"
                    *ngIf="this.fractionPercent(ip) > 0"
                    [style.width.%]="this.fractionPercent(ip)"></div>
                  <div class="spi-slider-handle"
                    [style.left.%]="this.fractionPercent(ip)"></div>
                  <input type="range"
                    class="spi-slider-range"
                    min="0"
                    max="1"
                    step="0.1"
                    [value]="ip.value"
                    [disabled]="!ip.isEditable()"
                    (input)="this.onFractionSliderChange(ip, $event)">
                </div>
                <input class="spi-slider-value"
                  (keydown)="this.onValueEditorKeyDown($event, ip)"
                  (blur)="ip.resolveEnteredValue()"
                  name="{{ip.propertyName}}"
                  [(ngModel)]="ip.editableValue"
                  [disabled]="!ip.isEditable()">
              </div>
              <input (keydown)="this.onValueEditorKeyDown($event, ip)"
                [ngClass]="{
                  'has-input-error': ip.typeName === 'PathProperty' && this.shouldShowInvalidPathAnimationBlockMsg(model)
                }"
                (blur)="ip.resolveEnteredValue()"
                name="{{ip.propertyName}}"
                [(ngModel)]="ip.editableValue"
                *ngIf="ip.typeName === 'NameProperty'
                || ip.typeName === 'PathProperty'
                || (ip.typeName === 'ColorProperty' && !!ip.value)">
              <div class="spi-number-field"
                *ngIf="ip.typeName === 'NumberProperty'">
                <button type="button"
                  class="spi-number-scrubber"
                  [disabled]="!ip.isEditable()"
                  (pointerdown)="this.onNumberScrubStart($event, ip)"
                  matTooltip="Drag horizontally to change value"
                  matTooltipPosition="below"
                  matTooltipShowDelay="500">
                  <mat-icon>{{ this.propertyIcon(ip) }}</mat-icon>
                </button>
                <input (keydown)="this.onValueEditorKeyDown($event, ip)"
                  class="is-number-input"
                  (blur)="ip.resolveEnteredValue()"
                  name="{{ip.propertyName}}"
                  [(ngModel)]="ip.editableValue"
                  [disabled]="!ip.isEditable()">
              </div>
              <ng-container *ngIf="ip.typeName === 'EnumProperty'">
                <!-- Small enums (<= 3 options): inline segmented buttons. -->
                <div *ngIf="ip.property.options.length <= 3"
                  class="spi-segmented">
                  <button *ngFor="let option of ip.property.options; trackBy: trackEnumOptionFn"
                    type="button"
                    class="spi-segmented-option"
                    [class.is-selected]="ip.value === option.value"
                    (click)="ip.value = option.value">
                    {{ option.label }}
                  </button>
                </div>
                <!-- Larger enums: keep the frosted-glass dropdown menu. -->
                <ng-container *ngIf="ip.property.options.length > 3">
                  <mat-menu #enumMenu="matMenu"
                    class="ss-glass-menu">
                    <button mat-menu-item
                      *ngFor="let option of ip.property.options; trackBy: trackEnumOptionFn"
                      (click)="ip.value = option.value;">
                    {{ option.label }}
                  </button>
                  </mat-menu>
                  <button class="spi-property-value-menu-target"
                    [matMenuTriggerFor]="enumMenu">
                    <span class="spi-property-value-menu-current-value">
                      {{ ip.getDisplayValue() }}
                    </span>
                  </button>
                </ng-container>
              </ng-container>
            </div>
            <app-color-picker *ngIf="ip.typeName === 'ColorProperty'"
              class="spi-property-color-picker"
              [class.spi-color-pop]="this.recentlyColoredPropertyName === ip.propertyName"
              [value]="ip.value"
              [disabled]="!ip.isEditable()"
              (valueChange)="this.onColorPicked(ip, $event)">
            </app-color-picker>
          </div>
        </div>
        </div>
        <div *ngIf="this.shouldShowInvalidPathAnimationBlockMsg(model)"
          class="alert alert-danger"
          fxLayout="row">
          <span class="paths-incompatible-text"
            [innerHTML]="
            (this.isPathBlockFromValueEmpty(model.model) && !this.isPathBlockToValueEmpty(model.model))
              ? '<i>fromValue</i> must not be empty'
              : (!this.isPathBlockFromValueEmpty(model.model) && this.isPathBlockToValueEmpty(model.model))
                ? '<i>toValue</i> must not be empty'
                : (this.isPathBlockFromValueEmpty(model.model) && this.isPathBlockToValueEmpty(model.model))
                  ? '<i>fromValue</i> and <i>toValue</i> must not be empty'
                  : 'Paths are incompatible. <i>Auto fix</i> or click the <i>edit path morphing animation</i> button above.'">
          </span>
          <button mat-icon-button
            class="auto-fix-button"
            *ngIf="!this.isPathBlockFromValueEmpty(model.model) && !this.isPathBlockToValueEmpty(model.model)"
            (click)="this.onAutoFixPathsClick(model)"
            matTooltip="Auto fix"
            matTooltipPosition="below"
            matTooltipShowDelay="500">
            <mat-icon svgIcon="autofix"></mat-icon>
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</div>
