@use '@angular/material' as mat;

@mixin ss-playback-theme($theme) {
    $foreground: map-get($theme, ss-foreground);
    $background: map-get($theme, ss-background);
    .playback {
        button {
            margin: 0px 3px;
        }
        button {
            &[mat-icon-button] {
                mat-icon {
                    color: mat.get-color-from-palette($foreground, secondary-text);
                }
                mat-icon.activated {
                    color: mat.get-color-from-palette(mat.define-palette(mat.$orange-palette, A700));
                }
            }
            &[maticon-button][disabled] {
                mat-icon {
                    color: mat.get-color-from-palette($foreground, disabled-text);
                }
            }
        }
    }
}
